<div class="container">
        <table class="table" id="adminTable">
  <thead>
    <tr>
   
     
     
 
      <th scope="col">Sub Category</th>
       <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {{#each subcategory}}
    <tr>
     
     
     
      
     
      <td>{{this.subcategory}}</td>
      <td>{{this.category}}</td>

     
      <td>

  
{{!--     
        <a href="/admin/editSubCategory/{{this.subcategory}}" onclick="return confirm('clik ok to confirm Edit {{  this.subcategory}}')"  type="submit"> <button type="button" class="btn btn-warning">Edit</button></a>
     
   
      <a href="/admin/deleteSubCategory/{{this.subcategory}}" onclick="return confirm('clik ok to confirm Delete {{  this.subcategory}}')"  type="submit"> <button type="button" class="btn btn-danger"> --}}
          
          
             <a href="#" onclick="SubCategoryEdit('{{this.subcategory}}')"  type="submit"> <button type="button" class="btn btn-warning">Edit</button></a>
     
   
      <a href="#" onclick="DeleteSubCategory('{{this.subcategory}}')"  type="submit"> <button type="button" class="btn btn-danger">
          
           Delete </button></a>
     
     
     
        



      </td>

    </tr>

    {{/each}}
   
  </tbody>
</table>
<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
      </section>
      </div>
      
    <script>
      function SubCategoryEdit(id){
      

        Swal.fire({
  title: 'Are you sure?',
  text: "Do You Want To Edit!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    window.location="/admin/editSubCategory/"+id
  
  }
})
        
      }



      function DeleteSubCategory(id){
    
          Swal.fire({
  title: 'Are you sure?',
  text: "Do You Want To Edit!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    window.location="/admin/deleteSubCategory/"+id
  
  }
})
      }
  
    </script>