<div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                 {{#if user}}
                <a href="/User-Profile">{{user.firstname}}.{{user.lastname}}</a>
                                <a href="/logout">Logout</a>
                {{else}}

  <a href="/login">Login</a>
                                <a href="/signup">Sign up</a>
                {{/if}}
            </div>
            
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="/wishlist"><img src="img/icon/heart.png" style="color: black;" alt="">{{WishCount}}</a><span></span>
            <a href="/cart/viewcart"><img src="img/icon/cart.png" alt=""> </a>
            <div class="price">{{CartCount}}</div>
        </div>
        <div id="mobile-menu-wrap"></div>
         <div class="offcanvas__text">
           
        </div> 
    </div> 
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            {{!-- <p>Free shipping, 30-day return or refund guarantee.</p> --}}
                        </div>
                    </div>
                    {{#if user}}
                   <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                 <a href="/User-Profile">{{user.firstname}}.{{user.lastname}}</a>
                                <a href="/logout">Logout</a>
                
                          
                             
                            </div>
                            {{!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div> --}}



                    {{else}}
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                 <a href="/login">Login</a>
                                <a href="/signup">Sign up</a>
                
                          
                             
                            </div>
                            {{!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    
                                </ul>
                            </div> --}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            {{!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> --}}
                            <li><a  href="/myorders">My Orders</a></li>
                             {{#if user}}
                            <li><a href="/User-Profile">My Account</a>
                           
                                {{!-- <ul class="dropdown">
                                    <li><a href="/User-Profile">My Profile</a></li>
                                     <li><a  href="/myorders">My Orders</a></li>
                                

                                    
                                   
                                </ul> --}}
                            </li>
                                {{else}}
                            {{/if}}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                      

                        <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                        <a href="/wishlist"><img src="/img/icon/heart.png" alt=""></a>

                           <div class="price" id="wish-count">{{WishCount}}</div>
                        
                           
                        <a style="margin-left: 1rem;" href="/cart/viewcart"><img  src="/img/icon/cart.png" alt=""> </a>
                        
                        
                        <div class="price" id="cart-count">{{CartCount}}</div>
                    
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
        <hr style="border: 1px solid rgb(82, 80, 80);">
    </header>
  
<div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" method="post" action="/admin/SearchProducts">
                <input type="text" name="item" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>